/* Search Bar */
.md-form input[type=text] {
    box-shadow: 0 0 0 0 lightgray !important;
    border: 3px solid grey !important;
    color: black;
}

.md-form input[type=text]:focus {
    box-shadow: 0 0 0 0 lightgray !important;
    border: 3px solid grey !important;
    color: black;
}

.md-form input[type='text']:focus:not([readonly]) + label {
    color: black !important;
}

.md-form input[type='text']:focus:([readonly]) + i {
    color: black !important;
}

.fa-search {
    color: black !important;
}

/* Contact Form */
.form-control {
    box-shadow: 0 0 0 0 lightgray !important;
    border: 2px solid lightgrey !important;
    color: black;

}
/* Buttons */
button:focus { outline:0 !important; }

span {
    margin: 0 25px;
}
